* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f6f6;
}

#title {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 130px;
  color: #013d8f;
  font-weight: 300;
}

.box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  margin: 0 100px;
}

.left-box {
  flex-direction: column;
  margin-top: 20px;
}

.left-box1,
.left-box2,
.right-box1,
.right-box2 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: #ffffff;
  border-radius: 10px;
}

.left-box1,
.left-box2 {
  width: 420px;
  height: 250px;
}

.left-box2 {
  margin-top: 50px;
}

.right-box1,
.right-box2 {
  width: 630px;
}

.right-box1 {
  height: 150px;
}

.right-box2 {
  height: 550px;
  overflow-y: auto;
  margin-top: 50px;
}

.left-box1--detail,
.left-box2--detail,
.right-box1--detail,
.right-box2--detail {
  height: 25px;
  background-color: #013d8f;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  align-items: center;
}
