* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f6f6;
}

#title {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 130px;
  color: #013d8f;
  font-weight: 300;
}

.box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  margin: 0 100px;
}

.left-box {
  flex-direction: column;
  margin-top: 20px;
}

.left-box1,
.left-box2,
.right-box1,
.right-box2 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: #ffffff;
  border-radius: 10px;
}

.left-box1,
.left-box2,
.right-box1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-box1,
.left-box2 {
  width: 420px;
  height: 250px;
}

.left-box2 {
  margin-top: 50px;
}

.right-box1,
.right-box2 {
  width: 630px;
}

.right-box1 {
  height: 150px;
}

.right-box2 {
  height: 550px;
  margin-top: 50px;
}

.left-box1--top,
.left-box2--top,
.right-box1--top,
.right-box2--top {
  width: 100%;
  height: 25px;
  background-color: #013d8f;
  border-radius: 10px 10px 0px 0px;
}

.left-box2--detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 1;
}

#clock-text {
  font-weight: 700;
}

#clock {
  margin-top: 5px;
  font-size: 50px;
}

#quote {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

#quote-text {
  display: block;
  font-style: italic;
}

#quote-author {
  display: block;
  margin-top: 20px;
  font-style: italic;
  font-weight: 700;
}

#right-box2--text {
  padding-left: 20px;
  padding-top: 20px;
}

#todo-form {
  display: flex;
  justify-content: center;
}

#todo-text {
  outline: none;
  border: none;
  border-bottom: 1px solid #000000;
  width: 250px;
  margin-top: 30px;
  margin-bottom: 20px;
}

#todo-list {
  height: 380px;
  overflow-y: auto;
}

li {
  border: 2px solid #000000;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.todo-left input {
  cursor: pointer;
}

.todo-button {
  cursor: pointer;
  padding-left: 5px;
}

input[type='checkbox']:checked {
  accent-color: #013d8f;
}

input[type='checkbox']:checked + span {
  text-decoration: line-through;
  color: #666666;
}
