body {
  width: 100%;
  height: 100vh;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo {
  width: 300px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px 20px;
}

.todo-header {
  text-align: center;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 1rem;
}

.todo-header__title {
  font-size: 20px;
  margin-bottom: 10px;
}

.todo-header__sub {
  font-size: 12px;
  margin: 0;
  opacity: 0.5;
}

ul,
li {
  padding: 0;
  list-style: none;
}

.todo-add {
  display: flex;
  padding-top: 1rem;
  border-top: 1px solid #cccccc;
}

.todo-add .input {
  width: 75%;
  margin-right: 3%;
  padding: 5px;
}

.todo-add .input:focus {
  outline: none;
}

.todo-add .button {
  width: 22%;
  background-color: #000000;
  border: none;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}
