body {
  width: 100%;
  height: 100vh;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo {
  width: 300px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px 20px;
}

.todo-header {
  text-align: center;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 1rem;
}

.todo-header__title {
  font-size: 20px;
  margin-bottom: 10px;
}

.todo-header__sub {
  font-size: 12px;
  margin: 0;
  opacity: 0.5;
}

.todo-body__item {
  position: relative;
  padding: 5px;
  display: flex;
  align-items: center;
  padding-right: 40px;
}

.todo-body__item input[type='checkbox'] {
  margin-right: 5px;
  cursor: pointer;
  align-self: flex-start;
}

.todo-body__item input[type='checkbox']:checked {
  accent-color: #000000;
}

.todo-body__item input[type='checkbox']:checked + span {
  text-decoration: line-through;
  color: #666666;
}

.todo-body__item i {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.todo-body__item span {
  cursor: default;
  flex: 1;
  word-break: break-word;
}

ul,
li {
  padding: 0;
  list-style: none;
}

.todo-add {
  display: flex;
  padding-top: 1rem;
  border-top: 1px solid #cccccc;
}

.todo-add .input {
  width: 75%;
  margin-right: 3%;
  padding: 5px;
}

.todo-add .input:focus {
  outline: none;
}

.todo-add .button {
  width: 22%;
  background-color: #000000;
  border: none;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}
